server:
  port: 8080
  shutdown: graceful
  # servlet:
  #   context-path: /
  #   encoding:
  #     charset: UTF-8
  #     enabled: true
  #     force: true

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: 'jdbc:h2:mem:tree' # (In-Memory Mode)
    username: tree
    password: tree
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    open-in-view: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        highlight_sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true

logging:
  pattern:
    console: "[%d{HH:mm:ss.SSS}][%-5level][%logger.%method:line%line] - %msg%n"
  level:
    org:
      hibernate:
        SQL: debug
        type.descriptor.sql: trace
      springframework: debug
        # web: debug
# JWT Secret ??
jwt:
  secret: ${AUTH_JWT_SECRET}